body {
font-family: Arial, sans-serif;
margin: auto;
padding: auto;
}
header {
background-color: #000;
color: #fff;
padding: 20px;
}
h2 {
	text-align: center ;
	margin-top: 40px;
	margin-bottom: 20px;
}
ul {
	list-style-type: disc;
	margin-left: 20px;
	margin-bottom: 20px;
}
li {
	margin-bottom: 10px;
}
.newspicleft {
	float:left; 
	height:250px;
	margin:5px 15px;
}
.newspicright {
	float:right; 
	height:250px;
	margin:5px 15px;
}
.services {
	width:215px; 
}
.servicetable {
	border:0px;
	width:60%; 
	padding:10px;
}
.overview {
	width:300px
}
.overviewtable {
	border:0px;
	width:60%; 
}
.overviewtable td, th {
	padding:10px;
}
.careers{
	width:325px
}
.careerstable {
	background-color: ghostwhite;
	border-width:1px;
	border-spacing:1px;
	width:70%; 
}
.careerstable td, th {
	padding:3px;
}
.innovation {
	width: 325px;
}
.innovationtable {
	background-color: ghostwhite;
	border-width:1px;
	border-spacing:1px;
	width:70%;
}
.innovationtable td, th {
	padding:3px;
	width: 70%
}
.tablepics {
	height:150px;
}
.privacytable {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
.privacytable th, td {
	padding: 12px;
	text-align: left;
	border: 1px solid #ddd;
}
.privacytable th {
	background-color: #f2f2f2;
    font-weight: bold;
}
.privacytable td img {
	display: block;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}
.responsibility {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}	
	
	